// Font
@font-face {
	font-family: "Simplifica";
	src: url("./fonts/SIMPLIFICA.ttf");
}

// Colors
$primary: #E91E63;
$dark-primary: #c20c53;
$black: #212121;

// Background
$body-bg: $black;

// Navbar
$navbar-dark-color: $primary;

$navbar-dark-brand-color: $primary;
$navbar-brand-font-size: 2.2rem;

// Styling elements
::selection {
	background-color: $primary;
}

html, body {
	font-family: "Simplifica";
	font-weight: lighter !important;
	height: 100%;
	width: 100%;
}

.navbar-custom {
	padding-left: 10vw !important;
	padding-right: 10vw !important;
	border-bottom: 0px;
	height: 150px;
	z-index: 9 !important;
	transition: all 0.15s ease;
}

.navbar-custom .navbar-brand {
	transition: all 0.15s ease;
}

.navbar-custom.scrolling {
	border-bottom: 1px solid $primary;
	height: 50px;
	transition: all 0.15s ease;

	.navbar-brand {
		font-size: 1.5rem;
		transition: all 0.15s ease;
	}
}

.navbar-custom .navbar-nav .nav-link:hover {
	.menu-toggler svg .menu-hamburger {
		stroke: #FFF;
	}
}

.menu-content {
	visibility: hidden;
	opacity: 0;
	font-family: "Simplifica";
	position: fixed;
	background-color: $primary;
	height: 100%;
	width: 100%;
	z-index: 10;
	transition: all 0.15s linear;
}

.menu-content.opened {
	visibility: visible;
	opacity: 1;
	transition: all 0.15s linear;
}

.menu-content .container-fluid {
	position: relative;
	top: 15%;
}

.menu-content .container-fluid .nav.flex-column .menu-close {
	position: relative;
	width: 100%;
}

.menu-content .container-fluid .nav.flex-column .menu-close:hover {
	cursor: pointer;
	fill: #FFF;
}

.menu-content .container-fluid .nav.flex-column .nav-links-container {
	margin-top: 20vh;
}

.menu-content .container-fluid .nav.flex-column .nav-links-container .nav-link {
	color: #000;
}

.menu-content .container-fluid .nav.flex-column .nav-links-container .nav-link:hover {
	color: #FFF;
}

.page-landing {
	height: 100vh;
	background-image: url("./images/roses_background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-top: 1px solid transparent;
}

.page-landing .page-landing-row {
	border-top: 1px solid transparent;
	margin-top: calc(50vh - 1.5rem);
}

.page-landing .page-landing-row div .container-fluid {
	background-color: rgba(255, 255, 255, 0.1);
	padding-top: 5vh;
	padding-bottom: 5vh;
	padding-left: 5vw;
	padding-right: 5vw;
}

.page-landing .page-landing-row div .container-fluid .name {
	color: #FFF;
	font-size: 2.2rem;
}

.page-landing .page-landing-row div .container-fluid .profession {
	color: #FFF;
	display: inline-block;
	padding-left: 3px;
	padding-right: 3px;
	background-color: $dark-primary;
}

.test {
	height: 1500px;
}

@import "~bootstrap/scss/bootstrap";