// Font
@font-face {
	font-family: "Simplifica";
	src: url("./fonts/SIMPLIFICA.ttf");
}

// Colors
$primary: #E91E63;
$black: #212121;

// Background
$body-bg: $black;

// Navbar
$navbar-padding-y: 5vh;
$navbar-padding-y-scrolling: 50px;
$navbar-dark-color: $primary;

$navbar-dark-brand-color: $primary;
$navbar-brand-font-size: 2.5rem;

// Styling elements
html, body {
	font-family: "Simplifica";
	font-weight: lighter !important;
	height: 100%;
	width: 100%;
}

.navbar-custom {
	border-bottom: 0px;
}

.navbar-custom.scrolling {
	border-bottom: 1px solid $primary;
	height: $navbar-padding-y-scrolling;

	.navbar-brand, .navbar-nav .nav-link .menu-toggler {
		font-size: 1.5rem;
	}
}

.navbar-custom .navbar-nav .menu-toggler:hover {
	svg .menu-hamburger {
		stroke: #FFF;
	}
}

.page-landing {
	height: 100vh;
	background-image: url("./images/roses_background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-top: 1px solid transparent;
}

.page-landing .page-landing-row {
	color: red;
	border-top: 1px solid transparent;
	margin-top: calc(50vh - 1.5rem);
}

.test {
	height: 1500px;
}

@import "~bootstrap/scss/bootstrap";